.App {
    display: grid;
    grid-template-columns: auto 1000px auto;
}

@media only screen and (max-width:968px) {
    .App {
        display: grid;
        grid-template-columns: 0px calc(100% - 20px) 0px;
        grid-column-gap: 10px;
    }
}